html {
  -webkit-animation: moveBackground ease-in-out 100s infinite;
          animation: moveBackground ease-in-out 100s infinite;
}

.map-icon{
  background: 0;
  border:0;
  width: 100px;
}

.map-icon:hover{
  cursor: pointer;
  -webkit-animation: vibrate ease-in-out .2s;
          animation: vibrate ease-in-out .2s;
}

@-webkit-keyframes vibrate{
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%{
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75%{
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
   100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes vibrate{
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%{
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75%{
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
   100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.map-icon img{
  width: 100%;
}

@-webkit-keyframes moveBackground {
  0%{
    background-position: 0,0;
  }
  50%{
    background-position: 20em,20em;
  }
  100%{
    background-position: 0,0;
  }
}

@keyframes moveBackground {
  0%{
    background-position: 0,0;
  }
  50%{
    background-position: 20em,20em;
  }
  100%{
    background-position: 0,0;
  }
}

.App {
  text-align: center;
}

.fleet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
}

.fleet:first-of-type{
  margin-bottom: 5em;
}

.clickable:hover{
  cursor: pointer;
}

.combat-cannons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.combat-ship-image-container img {

  -webkit-animation: ship-bob ease 6s infinite;

          animation: ship-bob ease 6s infinite;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.active-ship .ship-image{
            -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 15px  #FFA500);
                    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 15px  #FFA500);
}

@-webkit-keyframes ship-bob {
  0%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
  50%{
    -webkit-transform: translate(0px, 15px) rotate(90deg);
            transform: translate(0px, 15px) rotate(90deg);
    
  }
  100%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
}

@keyframes ship-bob {
  0%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
  50%{
    -webkit-transform: translate(0px, 15px) rotate(90deg);
            transform: translate(0px, 15px) rotate(90deg);
    
  }
  100%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
}

.shipwright .ship>div{
  display: flex;
  justify-content: space-evenly
}

.shipwright .ship-upgrade{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.ship-upgrade .current,
.ship-upgrade .next-upgrade{

  display: flex;
  flex-direction: column;
}

.ship-upgrade h4,
.ship-upgrade h5{
  margin: .3em 0;
}

.purchase-button{
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border:solid 1px royalblue;
  width: 100%;
  padding: .5em;
}

.purchase-button:hover{
  cursor: pointer;
}

.purchase-button img{
  width:1.5em;
  margin-left:.5em;
}

.hud{
  position: fixed;
  bottom:5%;
  left: 0;
  right:0;
  z-index: -9;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 2em;
}

.hud h2{
  font-size:1em;
  margin: 0;
  padding: .5em;
}

.fleet-status{
  width: 100%;
  align-self: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fleet-status li {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.fleet-status:hover > li{
  -webkit-animation: vibrate ease-in-out .2s;
          animation: vibrate ease-in-out .2s;
}

.fleet-status:hover{
  cursor: pointer;
}
.fleet-status img{
  max-width: 40px;
}

.gold-status,
.cargo-status {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: right;
  padding: 0 1em;
}

.cargo-status {
  flex-direction: row-reverse;
}

.cargo-status img {
  max-width: 35px;
}

.cargo-status:hover > img{
    -webkit-animation: vibrate ease-in-out .2s;
            animation: vibrate ease-in-out .2s;
  cursor: pointer;
}

.gold-status p,
.cargo-status p{
  font-weight: bold;
  padding: 0 1em;
}

.save{
  display: flex;
  flex-direction: row-reverse;
  border: none;
  background: none;
}

.save img:hover{
  cursor: pointer;
  opacity: .7;
  transition:ease .5s opacity;
  -webkit-animation: vibrate ease-in-out .2s;
          animation: vibrate ease-in-out .2s;
}

.unavaliable {
  opacity: .5;
}

.shipwright{
  padding-bottom: 8em;
}

.hidden-hud{
  display: none;
}

.goods-list {
  display: flex;
  list-style-type: none;
  margin:0;
  padding: 0;
  justify-content: center;
}

.marketplace .goods-list{
  display: flex;
  flex-wrap: wrap;
}

.marketplace input[type="number"]{
  width: 20%;
  border: none;
  background: #ebd5b3;  
  padding: .5em;
  text-align: center;
}

.marketplace .good{
  padding: 0;
}

.marketplace form{
  box-sizing: border-box;
}

.marketplace .goods-list label{
  display: block;
  width: 100%;
}

.buy input[type="submit"]{
  background: #93c572;
}

input[type="submit"]{
  width:50%;
  border: none;
  padding: .5em;
  opacity: .8;
  transition:ease .4s opacity;
}

input[type="submit"]:hover{
  cursor: pointer;
  opacity: 1;
  transition:ease .4s opacity;
}

.sell input[type="submit"]{
  background: #f15b5b;
}

.good{
  padding: 0 1em;
}

.player-hud-info {
  display: flex;
  flex-direction: column;
}

.good img {
  width:36px;
  height: 36px;
}

.overlay{
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #ebd5b3;
  top:-100%;
  bottom:100%;
  left:0;
  right:0;
  transition:ease-in-out .4s all;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.overlay-shown{
  top:0%;
  bottom:0%;
  left:0;
  right:0;
  transition:ease-in-out .4s all;
}

.overlay .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.map-list li {
  padding: 1em;
}

.map-list li:hover{
  cursor: pointer;
  -webkit-animation: vibrate ease-in-out .2s;
          animation: vibrate ease-in-out .2s;
}

.back img{
  display: block;
  width: 100%;
}

.back{
  box-sizing: border-box;
  background: #ebd5b3;
  border: solid 2px #be914a;
  opacity: .8;
  transition:ease .4s opacity;
}

.back:hover{
  cursor: pointer;
  opacity: 1;
  transition:ease .4s opacity;
}

.buy-button{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #93c572;
  border: none;
  padding: .2em;
  opacity: .8;
  transition:ease .4s opacity;
}

.buy-button:hover{
  opacity: 1;
  cursor: pointer;
  transition:ease .4s opacity;
}

.buy-button img{
  max-width: 2em;
  margin-left: .5em
}

.upgrade-selector {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.upgrade-selector li button{
  width: 100%;
  padding: .5em;
}

.blue{
    background: #4169e1;
}

.ship-map-container {
  border:solid 1px;
  width: 80%;
  position: relative;
}

.ship-map-container img {
  position: absolute;
}

.map-ship {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left:0;
  top:0;
  transition:ease-in-out 2s all;
}

.map-skull {
  max-width:10%;
  z-index: 1;
  left: 45%;
  top:-3em;
  display: none;
}

#skull-shown{
  display: inline;
  display: initial;
  -webkit-animation: blinking ease-in-out 1s infinite;
          animation: blinking ease-in-out 1s infinite; 
}

@-webkit-keyframes blinking {
  0%{
    opacity: 1;
  }
  50%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes blinking {
  0%{
    opacity: 1;
  }
  50%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

#moving-to-port{
  left: 100%;
  transition:ease-in-out 2s all;
}

#attacked{
  left: 50%;
  transition:ease-in-out 1s all;
}

.port-image-map {
  max-width:100px;
}

.port-graphics {
  padding: 4em;  
}

.main-menu{
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.menu-buttonst {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.port-buttons button,
.main-menu button{
  border: solid 2px #be914a;
  padding: .5em;
  background: #ebd5b3;  
  font-weight: bold;
  margin: .5em;
  width:20em; 
}

.port-buttons button:hover,
.main-menu button:hover{
  cursor: pointer;
  -webkit-animation: vibrate ease-in-out .2s;
          animation: vibrate ease-in-out .2s;}

.ship-sale {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 2em 0 ;
}

.ship-sale h3,
.ship-sale h5,
.ship-sale button{
  width: 15%;
}

.itemShop{
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.itemShop>div{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.item{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: .5em 0;
}

.item img{
  width:15%;
}

.item-list{
  display: flex;
  align-content: center;
  align-items: center;
}

.info-main{
  position: relative;
  display: inline-block;
}

.info-description{
  box-sizing: border-box;
  position: absolute;
  padding: .5em;
  width: 90%;
  top:100%;
  z-index: 1;
  background: #ebd5b3;
  border: solid 2px #be914a;
  transition:ease .4s opacity;
}

.info-description:hover{
  cursor: default;
}

.info-hide{
  opacity: 0;
  z-index: -100;
}

.item-list .item img{
  width:50%;
}

.info {
  box-sizing: border-box;
  background: #ebd5b3;
  border: solid 2px #be914a;
  opacity: .8;
  transition:ease .4s opacity;
  max-width:3em;
}

.info-main .info:hover{
  transition:ease .4s opacity;
  opacity: 1;
  cursor: help;
}

.item-list button{
  background: none;
  border: none;
}

.item-list button:disabled{
  opacity: .5;
}

.item-list button:enabled:hover{
  -webkit-animation: vibrate .3s ease-in-out 1;
          animation: vibrate .3s ease-in-out 1;
  cursor: pointer;
}

.combat-main .hud{
  flex-direction: column;
  position:static;
}

.dialouge-box {
  box-sizing: border-box;
  position: absolute;
  padding: .5em;
  width: 80%;
  top:-100%;
  left:10%;
  z-index: 1;
  background: #ebd5b3;
  border: solid 2px #be914a;
  transition:ease-in-out .3s all;
}

.shown{
  top:20%;
  transition:ease-in-out .3s all;
}

