html {
  -webkit-animation: moveBackground ease-in-out 100s infinite;
          animation: moveBackground ease-in-out 100s infinite;
}

@-webkit-keyframes moveBackground {
  0%{
    background-position: 0,0;
  }
  50%{
    background-position: 20em,20em;
  }
  100%{
    background-position: 0,0;
  }
}

@keyframes moveBackground {
  0%{
    background-position: 0,0;
  }
  50%{
    background-position: 20em,20em;
  }
  100%{
    background-position: 0,0;
  }
}

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fleet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
}

.fleet:first-of-type{
  margin-bottom: 5em;
}

.active-ship{
  border:solid 1px blueviolet;
}

.clickable:hover{
  cursor: pointer;
}

.combat-cannons {
  list-style-type: none;
  padding: 0;
}

.combat-ship-image-container img {

  -webkit-animation: ship-bob ease 6s infinite;

          animation: ship-bob ease 6s infinite;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.active-ship .ship-image{
            filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 15px  #FFA500);
}

@-webkit-keyframes ship-bob {
  0%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
  50%{
    -webkit-transform: translate(0px, 15px) rotate(90deg);
            transform: translate(0px, 15px) rotate(90deg);
    
  }
  100%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
}

@keyframes ship-bob {
  0%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
  50%{
    -webkit-transform: translate(0px, 15px) rotate(90deg);
            transform: translate(0px, 15px) rotate(90deg);
    
  }
  100%{
    -webkit-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
